<!DOCTYPE html>
<html lang="en">

{% include 'parts/head.twig' %}

<body>
  <div class="container-fluid">
    <!-- blacknavbar -->

      {% include 'parts/blacknavbar.twig' %}

    <!-- end blacknavbar -->

    <!-- hamburger menu -->

    {% include 'parts/hamburger-menu.twig' %}

    <!-- end hamburger menu -->

    <!-- slider -->

      {% if isSent is defined %}
        <div id="isSent" {{ isSent ? 'class="alert alert-success"' : 'class="alert alert-danger"' }} role="alert">
          <strong>Uporozenje!</strong> {{ isSent ? 'Poruka je uspesno poslata!' : 'Poruka nije poslata!' }}
        </div>
      {% endif %}

    {% include 'parts/slider.twig' %}

    <!-- end slider -->

    <!-- whitenavbar -->

    {% include 'parts/whitenavbar.twig' %}

    <!-- end whitenavbar -->

    <!-- layout-->

    <div class="container">
      <div class="row">
        <div class="col header">
          <div class="btn-title">
            <p>BREAKING NEWS</p>
          </div>
          <div class="btn-link">
            <a href="#">Najnovije vijesti!</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col first_row">
          <div class="col inside">
            <div><span class="first-layout-link"><a href="#">Duhovnost/Tradicijaaaa</a></span></div>
            <div class="second-layout-link"><a href="#">ISLAM PODSTICE NA NAUKU UCENJE I PROMISLJANJE</a></div>
            <div>
              <span class="third-layout-link"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Datum</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Urednik</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Komentari</a></span>
            </div>
          </div>
        </div>
        <div class="col first_row">
          <div class="col inside">
            <div><span class="first-layout-link"><a href="#">Duhovnost/Tradicija</a></span></div>
            <div class="second-layout-link"><a href="#">ISLAM PODSTICE NA NAUKU UCENJE I PROMISLJANJE</a></div>
            <div>
              <span class="third-layout-link"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Datum</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Urednik</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Komentari</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col first_row">
          <div class="col inside">
            <div><span class="first-layout-link"><a href="#">Duhovnost/Tradicijaaaa</a></span></div>
            <div class="second-layout-link"><a href="#">ISLAM PODSTICE NA NAUKU UCENJE I PROMISLJANJE</a></div>
            <div>
              <span class="third-layout-link"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Datum</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Urednik</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Komentari</a></span>
            </div>
          </div>
        </div>
        <div class="col first_row">
          <div class="col inside">
            <div><span class="first-layout-link"><a href="#">Duhovnost/Tradicijaaaa</a></span></div>
            <div class="second-layout-link"><a href="#">ISLAM PODSTICE NA NAUKU UCENJE I PROMISLJANJE</a></div>
            <div>
              <span class="third-layout-link"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Datum</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Urednik</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Komentari</a></span>
            </div>
          </div>
        </div>
        <div class="col first_row">
          <div class="col inside">
            <div><span class="first-layout-link"><a href="#">Duhovnost/Tradicijaaaa</a></span></div>
            <div class="second-layout-link"><a href="#">ISLAM PODSTICE NA NAUKU UCENJE I PROMISLJANJE</a></div>
            <div>
              <span class="third-layout-link"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Datum</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Urednik</a></span>
              <span class="third-layout-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Komentari</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end layout -->

    <!-- main -->
    <div class="container">
      <div class="row">

        <!-- article -->
        <div class="col-md-9">
          {% for new in news %}
          <div class="article">
            <div>
              <a href="/single-news/{{ new.id }}"><img src="front-end/pictures/second.jpg" class="img-fluid" height="486" width="900"></a>
            </div>
            <div class="comment">
              <div class="head">
                <h2 class="head2"><a href="#">{{ new.title }}</a></h2>
                <div class="after-heading">
                  <span><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 26. JAUNARA 2018</a></span>
                  <span><a href="#"><i class="fa fa-user" aria-hidden="true"></i> UREDNIK</a></span>
                  <span><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 0 COMMENT</a></span>
                </div>
              </div>
              <div class="post-text">
                <p>{{ new.content }}</p>
                <a href="/single-news/{{ new.id }}">PROČITAJ VIŠE</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- end article -->

        <!-- sidebar-->
        <div class="col-md-3 sidebar">

          <!-- search-->
          <aside>
            <h3 class="heading3">PRETRAŽI</h3>
            <div class="form-group row">
              <label for="search" class=" col-form-label"></label>
              <div class="col-12">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input class="form-control" type="search" placeholder="Search" id="search">
                  <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
              </div>
            </div>
          </aside>
          <!-- end search-->

          <!-- recent posts-->
          <aside>
            <h3 class="heading3">NEDAVNO OBJAVLJENO</h3>
            <ul class="recent-posts">
                {% for five in lastFive %}
              <li class="link-sidebar"><a href="/single-news/{{ five.id }}"><img class="sideBarimage" src="front-end/pictures/image1.jpg"><span>{{ five.title }}</span></a></li>
              {% endfor %}
            </ul>
          </aside>
          <!-- end recent posts-->

          <!-- category -->
          <aside>
            <h3 class="heading3">KATEGORIJE</h3>
              {% for category in categories %}
            <ul class="categoryList">
              <li><a href="#">{{ category.category_name }}</a></li>
            </ul>
              {% endfor %}
          </aside>
          <!-- end category -->  

        </div>
        <!-- end sidebar-->

      </div>
    </div>
    <!-- end main -->

    <!-- footer -->

    {% include 'parts/footer.twig' %}

    <!-- end footer -->

  </div>
</body>

<script src="front-end/js/script.js"></script>
<script src="front-end/js/indexScript.js"></script>

</html>